:root {
  --pale-blue-BG: hsl(177, 68, 64);
  --bright-peach-BG: hsl(12, 94, 65);
  --light-peach-BG: #ffb964;
  --white-BG: rgb(252, 250, 249);
  --black-BG: rgb(25, 24, 38);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

html,
body {
  box-sizing: border-box;

  font-family: "IBM Plex Sans", sans-serif;

  margin: 0;
  padding: 0;
  border: 0;
}

.page-container {
  max-width: 390px;
  text-align: left;
}

@media screen and (min-width: 1200px) {
  .page-container {
    max-width: 1200px;
    margin: 62px 0px 20px 130px;
  }
}

/* Top of page components
------------------------------ */

.top-container {
  margin: 1.5em;
  /* border: 1px solid blue; */
}

@media screen and (min-width: 1200px) {
  .top-container {
    /* background-image: url("/starter-code/assets/bg-pattern-1.svg") no-repeat;
    top: 0;
    left: 0; */
    padding-right: 270px;
  }
}

.top-container > h1 {
  font-size: 2.5em;
}

@media screen and (min-width: 1200px) {
  .top-container > h1 {
    font-size: 88px;
  }

  .top-container img:last-of-type {
    position: absolute;
    top: -40px;
    right: 0;
  }
}

/* Blur blobs
------------------------------ */
.blur-blob {
  position: absolute;

  border-radius: 50%;
  mix-blend-mode: normal;
  opacity: 0.15;
  filter: blur(50px);

  background: #ff9201;
}

.blue1 {
  width: 281.4px;
  height: 281.4px;
  left: 159px;
  top: -104px;
  background: #66e2dc;
  opacity: 0.28;
}

.orange2 {
  width: 281.4px;
  height: 281.4px;
  left: 159px;
  top: 94.6px;
}

@media screen and (min-width: 1200px) {
  .orange1 {
    width: 384px;
    height: 384px;
    left: -146px;
    top: -112px;
  }

  .orange3 {
    width: 384px;
    height: 384px;
    left: 1083px;
    top: 1262px;
  }

  .orange2 {
    width: 384px;
    height: 384px;
    left: 899.5px;
    top: 371.5px;
  }

  .blue1 {
    width: 384px;
    height: 384px;
    left: 899.5px;
    top: 100.5px;
    background: #66e2dc;
    opacity: 0.28;
  }
}

/* Mid page components
------------------------------ */

.mid-container {
  display: grid;
  grid-template-columns: 11% auto 11%;
  grid-template-rows: repeat(12, 5em);

  height: 1024px;
}

@media screen and (min-width: 1200px) {
  .mid-container {
    height: none;
    grid-template-columns: 11% 312px auto 446px 15%;
  }
}

.app_img-container {
  grid-column: 2 / 3;
  grid-row-start: 1;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .app_img-container {
    z-index: 2;
  }
}

.black-background {
  grid-column: 1 / 4;
  grid-row: 3 / 10;
  margin: 0;
  background-color: var(--black-BG);
  border-radius: 12px;
}

@media screen and (min-width: 1200px) {
  .black-background {
    grid-column: 1 / 6;
    position: relative;
    z-index: 0;
  }

  .black-background img {
    position: absolute;
    left: 330px;
    z-index: -1;
  }
}

/* Mid page - PRICE CARD
------------------------------ */
.price-card {
  grid-column: 1 / 4;
  grid-row: 9 / 16;

  color: var(--white-BG);
  background-color: #fa7453;

  border-radius: 12px;
  padding: 36px;
}

@media screen and (min-width: 1200px) {
  .price-card {
    grid-column: 4 / 5;
    grid-row: 5 / 12;
    z-index: 3;
  }
}

.price-card > h1:last-of-type {
  font-size: 65px;
}

h1 > span {
  font-size: medium;
  vertical-align: middle;
}

button {
  width: 100%;
  height: 61px;
  border-radius: 12px;
  border: none;
  display: inline-block;
}

button > img {
  vertical-align: middle;
}

button:first-of-type {
  color: var(--white-BG);
  background-color: var(--black-BG);
  margin-bottom: 13px;
}

button:last-of-type {
  color: var(--black-BG);
  background-color: var(--white-BG);
}
/* FOOTER section
------------------------------ */
footer {
  /* position: absolute; */
  width: 100%;
  margin: 24px;
  /* top: 1612px; */
}

@media screen and (min-width: 1200px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 32px;
    margin-left: 130px;

    /* padding: 40px; */
  }
}

section > p {
  margin: 0;
}

.soc-media-links {
  display: block;
  /* position: absolute; */
  height: 164px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .soc-media-links {
    height: 0;
    padding-top: 0;
  }
}
