:root {
  --pale-blue-BG: hsl(177, 68, 64);
  --bright-peach-BG: hsl(12, 94, 65);
  --light-peach-BG: #ffb964;
  --white-BG: rgb(252, 250, 249);
  --black-BG: rgb(25, 24, 38);
}

*,  *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

html, body {
  box-sizing: border-box;
  
  font-family: "IBM Plex Sans", sans-serif;
  
  margin: 0;
  padding: 0;
  border: 0;

  max-width: 390px;  /* mobile first */
  
}

.page-container {
  max-width: 390px;
  text-align: left;
}

/* Top of page components
------------------------------ */

.top-container {
  margin: 1.5em;
  /* border: 1px solid blue; */

}

.top-container > h1 {
  font-size: 2.5em;
}

.BG-blue-blur-oval {
  position: absolute;
  width: 281.4px;
  height: 281.4px;
  left: 159px;
  top: -104px;

  background: #66e2dc;
  mix-blend-mode: normal;
  opacity: 0.28;
  filter: blur(135.914px);
}

.BG-orange-blur-oval {
  position: absolute;
  width: 281.4px;
  height: 281.4px;
  left: 159px;
  top: 94.6px;

  background: #ff9201;
  mix-blend-mode: normal;
  opacity: 0.15;
  filter: blur(135.914px);
}

/* Mid page components
------------------------------ */

.mid-container {
  display: grid;
  grid-template-columns: 11% auto 11%;
  grid-template-rows: repeat(20, 5em);

  height: 1024px;
}

.app_img-container {
  grid-column: 2 / 3;
  grid-row-start: 1;
  margin: 0;
}

.black-background {
  grid-column: 1 / 4;
  grid-row: 3 / 10;
  margin: 0;
  background-color: var(--black-BG);
  border-radius: 12px;
}

/* Mid page - PRICE CARD
------------------------------ */
.price-card {
  grid-column: 1 / 4;
  grid-row: 9 / 16;

  color: var(--white-BG);
  background-color: #ff9201;

  border-radius: 12px;
  padding: 36px;
}

.price-card > h1:last-of-type {
  font-size: 65px;
}

h1 > span {
  font-size: medium;
  vertical-align: middle;
}

button {
  width: 100%;
  height: 61px;
  border-radius: 12px;
  border: none;
  display: inline-block;
}

button > img {
  vertical-align: middle;
}

button:first-of-type {
  color: var(--white-BG);
  background-color: var(--black-BG);
  margin-bottom: 13px;
}

button:last-of-type {
  color: var(--black-BG);
  background-color: var(--white-BG);

}
/* FOOTER section
------------------------------ */
footer {
  position: absolute;
  width: 100%;
  margin: 24px;
  top: 1612px;
}

footer > p {
  margin: 0;
}

.soc-media-links {
  display: block;
  position: absolute;
  height: 164px;
  padding-top: 60px
}



/* .top-container > img:last-of-type { */
  /* background-image: url("/starter-code/assets/bg-pattern-2.svg") no-repeat; */
  /* filter: blur(20px); */
  /* background-position: right 10% top 10%; */
  /* height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0; */
}

/* .top-container > img:first-of-type { */
  /* height: 20%; */
  /* width: 12%;
  position: absolute;
  top: 0;
  left: 20px;
  aspect-ratio: 1; */
}
